

// // Variables
// @import "variables";

// // Foundation
// @import '~foundation-sites/scss/foundation.scss';
// @import '~foundation-sites/scss/foundation.scss';
@import '~vuejs-dialog/dist/vuejs-dialog.min.css';
// @include foundation-everything(true,false);

// #sidebar{
// 	// background: $secondary-color;
// 	.menu a{
// 		// color: $white;
// 	}
// }

// .tabs-title.is-active a{
// 	background: $tab-background-active;
//     color: $tab-active-color;
// }

// a.alert,span.alert-message{
// 	color: $alert-color;
// }


// table{
// 	thead{
// 		position:relative;
// 		display:block;
// 		overflow:visible;
// 	}
// 	tbody{
// 		display:block; 
// 		tr td:nth-child(1){
// 			position: relative;
// 			display: block;
// 		}
// 	}
// }

@import '~bulma/bulma';
.table-wrapper{
	overflow-x: auto;
	position: relative;
	// .header-clone-table{
	// 	position:fixed;
	// 	top:0;
	// }
}

// table.table{
// 	overflow: hidden;
// 	td,th{
// 		position: relative;
// 		&:hover::after{
// 			content: "";
// 			position: absolute;
// 			background-color: $table-row-hover-background-color;
// 			left: 0;
// 			top: -5000px;
// 			height: 10000px;
// 			width: 100%;
// 			z-index: -1;

// 		}
// 	}
// }

.vdp-datepicker__calendar{
	z-index: 9999 !important;
}

// table{
// 	td.alert{
// 		background: $alert-color;
// 	}
// }

body.print{
	margin: 0.25in;
	
	font-size: 14pt;

	td.name{
	}
	thead td{
		text-align: center;
		font-size: 12pt;
		font-weight: bold;
		vertical-align: middle;
	}

}

@media print{
	body{
		margin: 0.25in;
	}
}